
<form class="max-w-md mx-auto" [formGroup]="taskForm">
    <label for="small-input" class="text-sm font-medium text-gray-900 dark:text-white">Titre</label>
    
    <br/>
    <input type="text" id="small-input" class="w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="task"/>
    <br/>
    @if(taskForm.get('task')?.hasError('required') && taskForm.get('task')?.touched){
        <div class="text-xs text-red-500 ">Entrer la tâche</div>
    }
    <br/>
    <label for="small-input" class="text-sm font-medium text-gray-900 dark:text-white">Niveau</label>
    <br/>
    <select id="small-input" class=" w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="nivtask">
    <option value="Niveau 1">Niveau 1</option>
    <option value="Niveau 2">Niveau 2</option>
    <option value="Niveau 3">Niveau 3</option>
    </select>
    <br/>
    @if(taskForm.get('nivtask')?.hasError('required') && taskForm.get('nivtask')?.touched){
        <div class="text-xs text-red-500 ">Entrer le niveau</div>
    }
    <br/>
    <label for="small-input" class="text-sm font-medium text-gray-900 dark:text-white">Date</label>
    <br/>
    <input type="date" id="small-input" class="w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="date"/>
    <br/>
    @if(taskForm.get('date')?.hasError('required') && taskForm.get('date')?.touched){
        <div class="text-xs text-red-500 ">Entrer la tâche</div>
    }
    <br/>
    <label for="small-input" class="text-sm font-medium text-gray-900 dark:text-white">Status</label>
    <br/>
    <select type="text" id="small-input" class="w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="status">
    <option value="A faire">A faire</option>
    <option value="En cours">En cours</option>
    <option value="Effectuee">Effectuée</option>
    </select>
    <br/>
    @if(taskForm.get('status')?.hasError('required') && taskForm.get('status')?.touched){
        <div class="text-xs text-red-500 ">Entrer le status</div>
    }

</form>

<br/>

<div class="flex items-center justify-center">
<button (click)="addTask()" class="max-w-xs p-4 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Ajouter</button>
</div>
<br/>

@if(errormsg){
    <div class="flex items-center justify-center text-xs text-red-500">Merci de vérifier les champs</div>
}
<div class="flex items-center justify-center">
    <div class="relative overflow-x-auto">
        
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    
                    <th scope="col" class="px-6 py-3">
                        Tâche
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Niveau de la tâche
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                    <th scope="col" class="px-6 py-3">
                      
                    </th>
                </tr>
            </thead>
            <ng-container *ngFor="let item of mytaskservice.taskObject; let i = index">
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{item.task | titlecase}}
                    </th>
                    <td class="px-6 py-4">
                        {{item.nivtask | uppercase}}
                    </td>
                    <td class="px-6 py-4">
                        {{item.date | date: 'dd/MM/yyyy'}}
                    </td>
                    <td class="px-6 py-4">
                        {{item.status | uppercase}}
                    </td>
                    <td class="px-6 py-4">
                        <button class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900" (click)="removeTask(i)">
                          Supprimer
                        </button>
                      </td>
                </tr>
            </tbody>
        </ng-container>
        </table>
    
    </div>
</div>