<div class="flex items-center justify-center">
    <div class="relative overflow-x-auto">
        
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    
                    <th scope="col" class="px-6 py-3">
                        Tâche
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Niveau de la tâche
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    
                </tr>
            </thead>
            <ng-container *ngFor="let item of mytaskservice.taskObject; let i = index">
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{item.task | titlecase}}
                    </th>
                    <td class="px-6 py-4">
                        {{item.nivtask | uppercase}}
                    </td>
                    <td class="px-6 py-4">
                        {{item.date | date: 'dd/MM/yyyy'}}
                    </td>
                    <td class="px-6 py-4">
                        {{item.status | uppercase}}
                    </td>
                    
                </tr>
            </tbody>
        </ng-container>
        </table>